.color-checkbox {
	color: $green  !important;

	.custom-control-label {
		color: #1eb795;
		border-color: #1eb795 !important;
		background-color: #1eb795 !important;
	}
}

.custom-control-input:checked~.custom-control-label::before {
	color: #fff;
	border-color: #1eb795 !important;
	background-color: #1eb795 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff6b00 !important;
}
